<% var title = "SWEETS PARK"; var description = "日本初出店を含む人気のカフェやスイーツショップ、グッズなどが登場！トレンドとカルチャーが融合した新しいスイーツエンタメパークとして生まれ変わりました。"; %> <% include src/ejs/template/_head %>

<!-- メイン -->
<main class="l-main">
  <!-- カルーセル -->
  <div class="p-carousel">
    <ul class="p-carousel__list">
      <li class="p-carousel__item">
        <a href="#"><img class="p-carousel__PC" src="assets/images/carousel_PC1.png" alt="フェア" /> <img class="p-carousel__SP" src="assets/images/carousel_SP1.png" alt="フェア" /></a>
      </li>
      <li class="p-carousel__item">
        <a href="#"><img class="p-carousel__PC" src="assets/images/carousel_PC2.png" alt="リニューアルオープン" /> <img class="p-carousel__SP" src="assets/images/carousel_SP2.png" alt="リニューアルオープン" /></a>
      </li>
      <li class="p-carousel__item">
        <a href="#"><img class="p-carousel__PC" src="assets/images/carousel_PC3.png" alt="オンラインショップ" /> <img class="p-carousel__SP" src="assets/images/carousel_SP3.png" alt="オンラインショップ" /></a>
      </li>
      <li class="p-carousel__item">
        <a href="#"><img class="p-carousel__PC" src="assets/images/carousel_PC4.png" alt="モバイルオーダー" /> <img class="p-carousel__SP" src="assets/images/carousel_SP4.png" alt="モバイルオーダー" /></a>
      </li>
      <li class="p-carousel__item">
        <a href="#"><img class="p-carousel__PC" src="assets/images/carousel_PC5.png" alt="プライベートシート" /> <img class="p-carousel__SP" src="assets/images/carousel_SP5.png" alt="プライベートシート" /></a>
      </li>
    </ul>
  </div>

  <!-- 店舗イメージ -->
  <div class="p-image _scrollSlideUp _scrollFadeIn">
    <img class="p-image__PC" src="assets/images/image_PC.png" alt="内装・外観" />
    <img class="p-image__SP" src="assets/images/image_SP.png" alt="内装・外観" />
  </div>

  <!-- 店舗詳細 -->
  <section class="p-description _scrollSlideUp _scrollFadeIn">
    <h1 class="p-description__title">
      <span class="p-description__underline">最新トレンドを楽しめる<br class="p-description__SP" />スイーツエンタメパーク</span>
    </h1>
    <div class="p-description__logo">
      <img src="assets/images/logo_3.png" alt="ロゴ" />
    </div>
    <p class="p-description__text">
      人気のカフェやスイーツショップが登場！<br />トレンドとカルチャーが融合した、<br class="p-description__SP" />スイーツエンタメパークが誕生しました。<br />
      おしゃれな最新スイーツや<br class="p-description__SP" />カフェメニューを楽しみながら、<br class="p-description__SP" />特別な時間をお過ごしください。
    </p>
  </section>

  <!-- ショップリスト -->
  <section class="p-shoplist">
    <div class="p-inner">
      <h2 class="c-title _scrollSlideUp _scrollFadeIn">Shop List</h2>
      <p class="c-subTitle _scrollSlideUp _scrollFadeIn">店舗紹介</p>

      <div class="p-shoplist__content">
        <ul class="p-shoplist__list"></ul>
      </div>

      <script>
        const data = [
          {
            shopImg: 'assets/images/shopImg_1.png',
            shopName: 'Sweetly',
            shopSub: 'スイートリ',
            shopText: '可愛いデザインが大人気！<br>アイシングクッキー専門店',
          },
          {
            shopImg: 'assets/images/shopImg_2.png',
            shopName: 'Noir',
            shopSub: 'ノワール',
            shopText: 'カラフルで様々なフレーバーが魅力！<br>マカロン専門店',
          },
          {
            shopImg: 'assets/images/shopImg_3.png',
            shopName: 'Ciel',
            shopSub: 'シエル',
            shopText: 'おしゃれなビジュアル！<br>苺スイーツ専門店',
          },
          {
            shopImg: 'assets/images/shopImg_4.png',
            shopName: 'Feuille',
            shopSub: 'フィユ',
            shopText: 'たっぷりのチョコレートでコーティング！<br>スティックケーキ専門店',
          },
        ]

        const shopList = document.getElementsByClassName('p-shoplist__list')[0]

        data.forEach((item) => {
          const shopItem = document.createElement('li')
          shopItem.className = 'p-shoplist__item'
          shopItem.classList.add('new-class-name')
          shopItem.classList.add('_scrollSlideUp')
          shopItem.classList.add('_scrollFadeIn')

          shopItem.innerHTML = `
          <div class="p-shop__img">
            <a href="#"><img src="${item.shopImg}" alt="${item.shopName}" /></a>
          </div>
          <div class="p-shoplist__area">
            <div class="p-shoplist__box">
              <p class="p-shoplist__name">${item.shopName}</p>
              <p class="p-shoplist__sub">${item.shopSub}</p>
            </div>
            <div class="p-shoplist__arrow">
              <a href="#"><img src="assets/images/shop_arrow.png" alt="ショップページ" /></a>
            </div>
          </div>
              <p class="p-shoplist__text">${item.shopText}</p>
              `

          shopList.appendChild(shopItem)
        })
      </script>
    </div>
  </section>

  <!-- パークマップ -->
  <section class="p-parkmap">
    <div class="p-inner">
      <h2 class="c-title _scrollSlideUp _scrollFadeIn">Park Map</h2>
      <p class="c-subTitle _scrollSlideUp _scrollFadeIn">パークマップ</p>

      <div class="p-parkmap__box _scrollSlideUp _scrollFadeIn">
        <img class="p-parkmap__img" src="assets/images/parkmap.png" alt="パークマップ" />
        <p class="p-parkmap__list">
          <span class="p-parkmap__item">ショップ</span>
          <span class="p-parkmap__item">プライベートシート</span>
          <span class="p-parkmap__item">レストスペース</span>
          <span class="p-parkmap__item">フォトスポット</span>
        </p>
      </div>
    </div>
  </section>

  <!-- インスタグラム -->
  <section class="p-insta">
    <div class="p-inner">
      <h2 class="c-title _scrollSlideUp _scrollFadeIn">Instagram</h2>
      <p class="c-subTitle _scrollSlideUp _scrollFadeIn">インスタグラム</p>
      <div class="p-insta__box">
        <ul class="p-insta__list _scrollSlideUp _scrollFadeIn"></ul>
      </div>

      <script>
        const instaImg = ['assets/images/insta_1.png', 'assets/images/insta_2.png', 'assets/images/insta_3.png', 'assets/images/insta_4.png', 'assets/images/insta_5.png', 'assets/images/insta_6.png', 'assets/images/insta_7.png', 'assets/images/insta_8.png']

        const instaList = document.getElementsByClassName('p-insta__list')[0]

        instaImg.forEach((item) => {
          const instaItem = document.createElement('li')
          instaItem.className = 'p-insta__item'

          instaItem.innerHTML = `
          <div class="p-insta__img">
            <a href="#"><img src="${item}" alt="Instagram" /></a>
          </div>

          `

          instaList.appendChild(instaItem)
        })
      </script>
    </div>
  </section>

  <!-- アクセス -->
  <section class="p-access">
    <div class="p-inner">
      <h2 class="c-title _scrollSlideUp _scrollFadeIn">Access</h2>
      <p class="c-subTitle _scrollSlideUp _scrollFadeIn">アクセス</p>
      <div class="p-access__box">
        <div class="p-access__map _scrollSlideUp _scrollFadeIn">
          <img class="p-access__PC" src="assets/images/map_1.png" alt="アクセスマップ" />
          <img class="p-access__SP" src="assets/images/map_2.png" alt="アクセスマップ" />
        </div>
        <button class="c-btn" onclick="location.href='#'">Googleマップで見る</button>
        <div class="p-access__video">
          <a href="#"><img src="assets/images/video.png" alt="YouTube" /></a>
        </div>
      </div>
    </div>
  </section>
</main>

<% include src/ejs/template/_footer %>
