.p-image {
  margin: 230px auto 0;
  position: relative;
  max-width: 1280px;
  width: 66%;

  &__PC {
    display: block;
  }

  &__SP {
    display: none;
  }
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .p-image {
    margin-top: 95px;
    width: 100%;

    &__PC {
      display: none;
    }

    &__SP {
      display: block;
    }
  }
}
